.html {
    margin-top: 0 !important;
}

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #0049B5;
    padding: 0;
}

.menu-hover:hover {
    background: rgba(255, 255, 255, 0.2) !important;
}

.dashboard-background {
    background: rgba(255, 255, 255, 0.2) !important;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #0049B5;
    height: 35px;
}
.sidebar-separator {
    background-color: #0049B5;
    height: 25px;
}
.logo-separator {
    background-color: #0049B5;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
content: " \f0d7";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
content: " \f0da";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.desktop5-container {
    background-color: #F6F6F6;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    height: auto;
}

.desktop5-options {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 67px;
    border-bottom: 1px solid rgba(119, 119, 119, 0.2);
    padding-right: 41.5px;
    padding-bottom: 14px;
}

#cancel {
    margin-right: 0 !important;
    padding-left: 22px;
    margin-bottom: 10px;
}

.fa-times {
    color: white;
}

.john {
    font-size: 25px;
    line-height: 29px;
    font-weight: normal;
    color: #777777;
    margin-bottom: 0;
}

.en {
    font-size: 25px;
    line-height: 29px;
    color: #777777;
    font-weight: normal;
}

a:hover {
    text-decoration: none;
}

.options {
    font-size: 20px;
    line-height: 23px;
    color: #777777;
    margin-left: 20px;
    margin-bottom: -14px;
    padding-bottom: 14px;

    padding-left: 27.5px !important;
    padding-right: 27.5px !important;
}

.options:hover {
    border-bottom: 4px solid #1A73E8;
}

.options1 {
    border-bottom: 4px solid #1A73E8;
    padding-bottom: 10px;
}

.desktop5-charts {
    height: 284px;
    padding: 0;
}

.desktop5-padding {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    margin-right: 8px;
}

.nav-cont {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding-left: 36px;
    padding-right: 36px;
}

.ad-section {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
}

.top-padding {
    padding-left: 8px;
}

.container-fluid {
    margin: 10px 0 0 0;
    margin-right: 0;
}

.desktop5-date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 39px;
    border-bottom: 1px solid rgba(26, 115, 232, 0.1);
    ;
}

.desktop5-date p {
    font-size: 15px;
    line-height: 18px;
    color: #777777;
    margin-right: 12px;
    margin-bottom: 0;
}

.fa-angle-down {
    color: rgba(119, 119, 119, 0.5);
    margin-right: 10px;
}

.chart {
    position: relative;
    border: 1px solid rgba(119, 119, 119, 0.05);
    width: 152px;
    padding-top: 8px;
    margin-bottom: 10px;
}

.pie-down {
    position: absolute;
    bottom: 8px;
    right: -2px;
}

.chart-section {
    padding: 6px 12px 10px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#advertise {
    margin-right: 28px;
}

.advert-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #777777;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 0;
}

.first-icons {
    padding-left: 62px;
    padding-right: 62px;
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}

.first-icons i {
    font-size: 25px;
}

.fa-twitter {
    color: #76A9EA;
}

.fa-instagram {
    color: #C21975;
}

.fa-facebook-square {
    color: #475993
}

.fa-youtube {
    color: red;
}

.fa-reddit {
    color: orangered;
}

.coll {
    /* background-color: #F6F6F6; */
    padding-left: 0;
    padding-right: 0;
}

.card {
    background: #FEFEFE;
  }

  .demo-border {
      border-bottom: 3px solid #1A73E8 !important;
      font-size: 20px;
      line-height: 23px;
  }

  .nav-hover {
      margin-right: 53px;
      font-size: 20px;
      line-height: 23px;
  }

  .nav-hover:hover {
    border-bottom: 3px solid #1A73E8 !important;
  }

  .card .card-header {
    border-bottom: 1px solid rgba(119, 119, 119, 0.1);
    text-align: left;
    background: #FEFEFE;
    padding-left: 13.08px;
  }

  .card-header h5 {
    color: #777777;
    margin-bottom: 0;
  }

  #list-view {
      font-weight: 500;
      font-size: 25px;
      line-height: 29px;
      margin-bottom: 0;
      color: #777777
  }

  .pad-left {
      padding-left: 15px;
      color: #000000;
      line-height: 23px;
      font-size: 20px;
  }

  .state-cont {
      padding-right: 17px;
      padding-left: 0;
  }

  .map-cont {
      padding-right: 13px;
  }

  .list-group ::-webkit-scrollbar {
      width: 10px;
  }

  .list-group ::-webkit-scrollbar-thumb {
      background-color: #1A73E8;
      border-radius: 101px;
  }

  

@media only screen and (max-width: 991px) {
    .top-padding {
        margin-top: 20px;
    }

    #charts {
        height: auto;
    }

    .ad-section {
        margin-left: 0;
    }

    .top-padding {
        padding-left: 0;
    }


    .first-icons {
        margin-left: 69px;
        margin-right: 69px;
    }
}

@media only screen and (max-width: 782px) {
    
    .desktop5-options {
        flex-direction: column;
        justify-content: flex-end;
        height: auto;
        border-bottom: 1px solid rgba(119, 119, 119, 0.2);
        padding-top: 20px;
        padding-right: 0px;
        margin-right: 0px; 
    }

    

    .options {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .first-icons {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 582px) {
    .nav-column {
        display: flex !important;
        flex-direction: column !important;

    }

    .nav-cont {
        padding-left: 16px;
    }

    .nav-hover {
        width: 114px;
    }

    .demo-border {
        width: 162px;
    }
}

@media only screen and (max-width: 500px) {

    .chart-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* .first-icons {
        padding-left: 60px;
        padding-right: 60px;
    } */

    .move {
        position: relative;
        left: 45px;
    }

    .relative {
        position: absolute !important;
        left: 0 !important;
        z-index: 1 !important;
        width: 100% !important;
    }
    
    .relate {
        position: absolute;
        z-index: 2
    }

    .relate {
        position: fixed;
        top: 0;
    }
    
}

@media only screen and (max-width: 933px) {
    /* .options {
        margin-left: 30px;
    } */

    .options {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .first-icons {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 664px) {
    .chart-section {
        justify-content: space-around;
    }
}





@media only screen and (max-width: 1157px) {
    #charts {
        height: auto;
    }

    #social-icons {
        height: 310px;
    } 
}

@media only screen and (max-width: 1123px) {
    /* .first-icons {
        padding-left: 40px;
        padding-right: 40px;
    } */

    .advert-text {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .first-icons {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 1100px) {
    .first-icons {
        padding-left: 30px;
        padding-right: 30px;
    }
}