/* .container{
    margin-top: 3rem;
    border: 2px solid #ccc !important;
    border-radius: 5px;
} */
.payment-header{
    margin: 1.5rem 0 !important;
}
.desc{
    font-size: 0.8rem !important;
    color: #66788A !important;
    padding-left: 1.5rem;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
.form-control{
    width: 70% !important;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.searchbtn{
    height: 40px !important;
}
.search{
    width: 100% !important;
    margin: 2rem 0;
    float: right !important;
}

@media (max-width: 380px){
    .search{
        margin-top: 0;
        width: 100% !important;
    }
    .searchText{
        text-align: center !important;
    }
    .btn-group{
        text-align: center !important;
        display: block !important;
        padding-bottom: 2rem !important;
    }
}
