
.main-body{
	height:100vh;
}
.forgot-pass-box{
	height:100vh;
}
.map-box{
	min-height:100vh;
	background-image: url("../image/map.svg");
	background-size:cover;
	background-position:center;
}
.map-box img{
	height:40vh;
	width:40vw;
	position:absolute;
	top:30vh;
	left:4vw;
}
.ad-login-box{
	min-height:80vh;
	margin-top:11vh;
}
.ad-login{
	min-height:6vh;
}
.ad-login p{
	color:#fff;
	font-size:25px;
}
.form-group{
	margin-top:16vh;
}
.form-group input{
	min-height:8vh;
}
.form-group-two input{
	min-height:8vh;
}
button{
	min-height:8vh;
}

@media only screen and (max-width: 425px) {
    .map-box img{
        margin-left:26vw;
    }
      .map-box{
        visibility:hidden;
        display:none;
    }
}
@media only screen and (max-width: 414px) {
    .map-box img{
        margin-left:26vw;
    }
      .map-box{
        visibility:hidden;
        display:none;
    }
}

@media only screen and (max-width: 411px) {
    .map-box img{
        margin-left:26vw;
    }
      .map-box{
        visibility:hidden;
        display:none;
    }
}


@media only screen and (max-width: 360px) {
    .map-box img{
        margin-left:26vw;
    }
     .map-box{
        visibility:hidden;
        display:none;
    }
}
@media only screen and (max-width: 320px) {
    .map-box img{
        margin-left:26vw;
    }
      .map-box{
        visibility:hidden;
        display:none;
    }
}
